<h1>Add A New Lesson</h1>

<form action="/lessons" method='post' id='new_lesson'>
  <label for='lesson_name'>Lesson Name</label>
  <input id='lesson_name' name='lesson[name]' type='text'>
  <button>Add the lesson</button>
</form>
<br />
<textarea name='lesson[content]' form='new_lesson'>Enter text...</textarea>
